body,
h1,
h3 {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

a,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

header {
  img {
    width: 100px;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100px;
  place-items: center;
}

main {
  background: rgb(246, 178, 18);
  background: linear-gradient(
    0deg,
    rgba(246, 178, 18, 1) 0%,
    rgba(153, 11, 228, 1) 100%
  );
  color: white;
  height: 70vh;
  display: grid;
  place-items: center;
  justify-content: center;
}

form {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  span {
    border: 1px solid rgb(231, 229, 229);
    border-radius: 20px;
    padding: 20px 40px;
    display: block;
  }
  button {
    border: none;
    font-size: inherit;
    background-color: transparent;
    color: white;
  }
  input {
    border: none;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: transparent;
    color: white;
    min-width: 50ch;
    outline: none;
  }
}
